.nav {
    width: 1190px;
    margin: 0 auto;
    height: 27px;
}

.nav-wp {
    border-bottom: 1px solid #eee;
}

.nav-left a, .nav-right a {
    float: left;
    height: 27px;
    line-height: 27px;
    color: #8e9999;
    font-size: 12px;
    margin-right: 10px;
}

.nav-left a:hover {
    color: #0aa770;
}

.icons {
	background-image: url(../img/icons.png);
}

a.nav-all i {
    display: inline-block;
    width: 13px;
    height: 16px;
    background-position: -111px -36px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.nav-right {
    float: right;
}

.menu-wp {
    height: 59px;
    border-bottom: 1px solid #3cb43c;
}

.menu a {
    float: left;
    width: 156px;
    height: 45px;
    background-image: url(../img/logo.png);
    margin-top: 8px;
}

.menu ul {
    float: left;
    margin-left: 20px;
    font-family: 'microsoft yahei';
}

.menu > div {
}

.menu li {
    float: left;
    height: 59px;
    line-height: 59px;
    padding: 0 20px;
}

.menu {
    width: 1190px;
    margin: 0 auto;
}

.menu li.active {
    background-color: #3cb43c;
    color: #fff;
}

.youhq {
    float: right;
    font-size: 13px;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin-top: 11px;
}

.top-img-wp {height: 345px;min-width: 1190px;/* background: red; */overflow: hidden;position: relative;}

.top-img-wp img {
    height: 345px;
    vertical-align: middle;
    /* width: 1920px; */
    margin: 0 -365px;
}

ul.img-trigger {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

ul.img-trigger li {
    float: left;
    width: 110px;
    height: 34px;
    line-height: 34px;
    background: #fff;
    margin-left: 5px;
    text-align: center;
    opacity: 0.9;
}

ul.img-trigger li.active {
    background-color: #000;
    color: #fff;
}

.classify {width: 670px;height: 305px;background: #fff;position: absolute;top: 20px;left: 20px;border: 2px solid #e3e6ea;overflow: hidden;}

.classify li {
    width: 124px;
    height: 51px;
    line-height: 51px;
    text-indent: 20px;
    position: relative;
}

.classify ul, .classify .classify-detail {
    float: left;
}

.classify ul {
    background-color: #464f5e;
    color: #fff;
    font-family: 'microsoft yahei';
}


.classify a {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #3f4b5b;
}

.classify li.on {
    background-color: #fff;
}

.classify li.on a {
    color: #3cb43c;
}

.classify li:hover {
    background-color: #fff;
}

.classify li:hover a {
    color: #3cb43c;
}