<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户管理系统</title>

    <!-- Bootstrap -->
    <link href="../angular/js/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/userMngWBC4.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

	<!-- 导航条 -->
	  <nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">后台管理系统</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">用户管理 <span class="sr-only">(current)</span></a></li>
		        <li><a href="#">Link</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">One more separated link</a></li>
		          </ul>
		        </li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">Link</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<!-- 导航条 -->

	<div class="container">
		<!--导航-->
		<div class="btn-group" role="group" aria-label="...">
		  <a href="userMngWbc4.html" class="btn btn-default">新增用户</a>
		  <a href="userListWbc4.html" class="btn btn-danger">用户列表</a>
		  <a href="javascript:;" class="btn btn-default">统计报表</a>
		</div>
		<!--导航-->

		<table id="userTable" class="table table-bordered table-striped table-hover mt-20">
			<thead>
				<tr>
					<th>姓名</th>
					<th>年龄</th>
					<th>性别</th>
					<th>学历</th>
					<th>地址</th>
					<th>爱好</th>
					<th>手机</th>
					<th class="col-action">操作</th>
				</tr>
			</thead>

			<tbody>
			</tbody>

		</table>

	</div>

	<div class="loading-wp"></div>

	<div id="myDlg" class="modal fade bs-example-modal-sm" data-backdrop="false">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
			  <div class="modal-body">
		        删除成功！
		      </div>
			</div>
		</div>
	</div>

	<script id="trTpl" type="text/tpl-wbc">
		<tr>
			<td><%= name %></td>
			<td><%= age %></td>
			<td>item3</td>
			<td>item4</td>
			<td>item5</td>
			<td>item6</td>
			<td>item7</td>
			<td class="col-action">
				<button uid="<%= id %>" class="btn btn-danger btn-xs del-btn">删除</button>
			</td>
		</tr>
	</script>


    <script src="../angular/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="../angular/js/lib/underscore/underscore-min.js"></script>
    <script src="../angular/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/userListWbc4.js"></script>
  </body>
</html>