html, body, ul, li {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

.icons {
	background-image: url(../img/icons.png);
}

.top-bar {
	height: 28px;
	line-height: 28px;
	border-bottom: 1px solid #ccc;
}

.top-bar .tb-inner-wp {
	width: 1190px;
	overflow: hidden;
	margin: 0 auto;
}

.top-bar .tb-left {
	float: left;
}

.tb-left span {
	font-size: 12px;
	color: #8e9999;
	font-family: SimSun;
	display: inline-block;
}

.tb-left span.hover:hover {
	color: green;
}

.tb-left span .icons {
	width: 15px;
    height: 16px;
    background-position: -110px 0;
    display: inline-block;
    position: relative;
    top: 4px;
}

.top-bar .tb-right {
	float: right;
}
